{{ $section := .Site.GetPage "section" .Section }}
<div class="mb-3">
    <small>
        <strong>By {{ if .Params.Author }}{{ .Params.Author }}{{ else }}{{ .Site.Params.Author }}{{ end }}</strong>&nbsp;
        | <i class="far fa-calendar-alt"></i>&nbsp;{{- .Date.Format "2006-01-02" -}}&nbsp;{{- partial "lastmod.html" . -}}&nbsp;
        {{ if (or (eq (.Param "show_reading_time") true) (eq $section.Params.show_reading_time true) )}}
            <span> | {{ i18n "readingTime" .ReadingTime }}&nbsp; </span>
            <span> | {{ i18n "wordCount" .WordCount }}&nbsp; </span>
        {{ end }}
        | <i class="fa fa-tags" title="Tags" aria-hidden="true"></i> {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href='/tags/{{ (replace $e "#" "%23") | urlize }}/'>{{ $e | urlize }}</a>
        {{ end }}
    </small>
</div>
